* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
}

:root {
  --footer-height: 56px;
}

.main-content {
  padding: 2rem 0;
  padding-bottom: calc(2rem + var(--footer-height));
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}
